In [1]:
import pandas as pd
from tqdm import tqdm
import datetime

In [2]:
df = pd.read_csv("fundamentals-1_cleaned.csv")
df = df.rename(columns={"tic": "TICKER", "datadate": "date"})
df = df.set_index(['TICKER', "date"])
df = df.astype('float64')
df = df.dropna(axis = "columns", thresh = 0.2 * len(df.index))
df = df.dropna(thresh = 3)
df = df.fillna(0)
df.sort_index(inplace = True)
df2 = df

In [3]:
df

                   gvkey  fyearq      actq      ancq       aoq        atq  \
TICKER date
ADBE   20130228  12540.0  2013.0  4373.083  5792.628  5106.614  10165.711
       20130531  12540.0  2013.0  4557.657  5722.712  5076.847  10280.369
       20130831  12540.0  2013.0  3886.124  6348.032  5688.285  10234.156
       20131130  12540.0  2013.0  4045.929  6334.369  5674.595  10380.298
       20140228  12540.0  2014.0  3942.391  6303.491  5652.408  10245.882
...                  ...     ...       ...       ...       ...        ...
ZUO    20171031  33232.0  2017.0     0.000     0.000     0.000      0.000
       20180131  33232.0  2017.0   107.274    48.092    37.888    155.366
       20180430  33232.0  2018.0   256.902    49.904    38.981    306.806
       20180731  33232.0  2018.0   231.812    55.425    38.501    287.237
       20181031  33232.0  2018.0   239.841    53.402    35.014    293.243

                 aul3q      ceqq      cheq       chq  ...      lctq       ltq  \
TICKER date                                           ...
ADBE   20130228    0.0  6805.338  3660.689  1306.382  ...  1264.323  3360.373
       20130531    0.0  6927.302  3865.708  1246.410  ...  1264.855  3353.067
       20130831    0.0  6834.759  3163.937   819.085  ...  1329.117  3399.397
       20131130    0.0  6724.634  3173.752   834.556  ...  1525.648  3655.664
       20140228    0.0  6610.883  3132.092   733.916  ...  2112.347  3634.999
...                ...       ...       ...       ...  ...       ...       ...
ZUO    20171031    0.0     0.000     0.000     0.000  ...     0.000     0.000
       20180131    0.0    26.660    48.208    48.208  ...   114.810   128.700
       20180430    0.0   172.262   202.734   202.514  ...   121.413   134.544
       20180731    0.0   159.247   180.965   179.195  ...   114.236   127.990
       20181031    0.0   156.594   179.267    77.883  ...   121.130   136.649

                 rdipq     revtq  stkcpay      teqq     tfvaq  tfvlq     xrdq  \
TICKER date
ADBE   20130228    0.0  1007.873    0.000  6805.338  3462.940  3.251  209.638
       20130531    0.0  1010.549    0.000  6927.302  3585.501  2.498  203.097
       20130831    0.0   995.119    0.000  6834.759  3021.606  1.420  208.700
       20131130    0.0  1041.699  258.287  6724.634  2919.238  1.067  205.196
       20140228    0.0  1000.120    0.000  6610.883  2871.814  1.608  209.525
...                ...       ...      ...       ...       ...    ...      ...
ZUO    20171031    0.0    46.359    5.995     0.000     0.000  0.000    9.977
       20180131    0.0    49.816    8.990    26.666     0.000  0.000   11.017
       20180430    0.0    52.448    4.601   172.262     0.000  0.000   12.062
       20180731    0.0    57.847   10.263   159.247     0.000  0.000   13.323
       20181031    0.0    61.356   17.722   156.594   174.584  0.000   14.282

                   xsgaq
TICKER date
ADBE   20130228  740.524
       20130531  726.175
       20130831  725.416
       20131130  775.094
       20140228  748.650
...                  ...
ZUO    20171031   34.162
       20180131   38.030
       20180430   43.253
       20180731   46.265
       20181031   48.710

[1812 rows x 26 columns]

In [4]:
cols = df.columns
cols

Index(['gvkey', 'fyearq', 'actq', 'ancq', 'aoq', 'atq', 'aul3q', 'ceqq',
       'cheq', 'chq', 'cogsq', 'cshiq', 'cshoq', 'dpq', 'drcq', 'drltq',
       'lctq', 'ltq', 'rdipq', 'revtq', 'stkcpay', 'teqq', 'tfvaq', 'tfvlq',
       'xrdq', 'xsgaq'],
      dtype='object')

In [5]:
df = pd.read_csv("daily_returns.csv")
df = df.set_index(['TICKER', "date"])

for col in df.columns:
    df[col] = df[col].astype(str)
    df[col] = df[col].str.replace("C", "0.0")

ret_copy = df["RET"]
df = df.drop(columns = ["RET"])

df["newquarter"] = pd.Series(0.0, index=df.index)
for col in cols:
    df[col] = pd.Series(0.0, index=df.index)
    
df["RET0"] = ret_copy

for i in range(1, 61):
    col = "RET" + str(i)
    df[col] = pd.Series(0.0, index=df.index)
    
df = df.fillna(0)
df.sort_index(inplace = True)

In [6]:
df.columns

Index(['PERMNO', 'BIDLO', 'ASKHI', 'PRC', 'VOL', 'BID', 'ASK', 'OPENPRC',
       'NUMTRD', 'RETX', 'newquarter', 'gvkey', 'fyearq', 'actq', 'ancq',
       'aoq', 'atq', 'aul3q', 'ceqq', 'cheq', 'chq', 'cogsq', 'cshiq', 'cshoq',
       'dpq', 'drcq', 'drltq', 'lctq', 'ltq', 'rdipq', 'revtq', 'stkcpay',
       'teqq', 'tfvaq', 'tfvlq', 'xrdq', 'xsgaq', 'RET0', 'RET1', 'RET2',
       'RET3', 'RET4', 'RET5', 'RET6', 'RET7', 'RET8', 'RET9', 'RET10',
       'RET11', 'RET12', 'RET13', 'RET14', 'RET15', 'RET16', 'RET17', 'RET18',
       'RET19', 'RET20', 'RET21', 'RET22', 'RET23', 'RET24', 'RET25', 'RET26',
       'RET27', 'RET28', 'RET29', 'RET30', 'RET31', 'RET32', 'RET33', 'RET34',
       'RET35', 'RET36', 'RET37', 'RET38', 'RET39', 'RET40', 'RET41', 'RET42',
       'RET43', 'RET44', 'RET45', 'RET46', 'RET47', 'RET48', 'RET49', 'RET50',
       'RET51', 'RET52', 'RET53', 'RET54', 'RET55', 'RET56', 'RET57', 'RET58',
       'RET59', 'RET60'],
      dtype='object')

In [7]:
first_occur = {}

for row in tqdm(df2.iterrows()):
    idx = row[0]

    if idx[0] not in first_occur.keys():
        first_occur[idx[0]] = idx[1]
    elif idx[1] < first_occur[idx[0]]:
        first_occur[idx[0]] = idx[1]

1812it [00:00, 29370.70it/s]

In [8]:
for row in tqdm(df2.iterrows()):
    if row[0] in df.index:
        for col in df2.columns:
            df.at[row[0], col] = df2.at[row[0], col]
        
        df.at[row[0], "newquarter"] = 1
        
df.sort_index()
df.to_csv("daily_returns2.csv")

0it [00:00, ?it/s]/home/shashvat/anaconda3/lib/python3.7/site-packages/ipykernel/zmqshell.py:536: PerformanceWarning: indexing past lexsort depth may impact performance.
  return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
1812it [00:02, 881.11it/s]

In [9]:
df.columns

Index(['PERMNO', 'BIDLO', 'ASKHI', 'PRC', 'VOL', 'BID', 'ASK', 'OPENPRC',
       'NUMTRD', 'RETX', 'newquarter', 'gvkey', 'fyearq', 'actq', 'ancq',
       'aoq', 'atq', 'aul3q', 'ceqq', 'cheq', 'chq', 'cogsq', 'cshiq', 'cshoq',
       'dpq', 'drcq', 'drltq', 'lctq', 'ltq', 'rdipq', 'revtq', 'stkcpay',
       'teqq', 'tfvaq', 'tfvlq', 'xrdq', 'xsgaq', 'RET0', 'RET1', 'RET2',
       'RET3', 'RET4', 'RET5', 'RET6', 'RET7', 'RET8', 'RET9', 'RET10',
       'RET11', 'RET12', 'RET13', 'RET14', 'RET15', 'RET16', 'RET17', 'RET18',
       'RET19', 'RET20', 'RET21', 'RET22', 'RET23', 'RET24', 'RET25', 'RET26',
       'RET27', 'RET28', 'RET29', 'RET30', 'RET31', 'RET32', 'RET33', 'RET34',
       'RET35', 'RET36', 'RET37', 'RET38', 'RET39', 'RET40', 'RET41', 'RET42',
       'RET43', 'RET44', 'RET45', 'RET46', 'RET47', 'RET48', 'RET49', 'RET50',
       'RET51', 'RET52', 'RET53', 'RET54', 'RET55', 'RET56', 'RET57', 'RET58',
       'RET59', 'RET60'],
      dtype='object')

In [10]:
df

                PERMNO  BIDLO  ASKHI    PRC       VOL    BID    ASK OPENPRC  \
TICKER date
ACXM   20130102  20117  17.77  18.41  18.37  480703.0  18.37  18.39   17.93
       20130103  20117  18.14  18.41  18.19  269043.0  18.19  18.21   18.34
       20130104  20117  18.04  18.34  18.19  157036.0  18.18  18.19    18.3
       20130107  20117  17.97  18.24  18.04  135941.0  18.04  18.05   18.03
       20130108  20117  17.92  18.15  18.02  173228.0  18.02  18.03   17.96
...                ...    ...    ...    ...       ...    ...    ...     ...
NaN    20140729  83734    nan    nan    nan       nan    nan    nan     nan
       20140730  83734    nan    nan    nan       nan    nan    nan     nan
       20140731  83734    nan    nan    nan       nan    nan    nan     nan
       20140801  83734    nan    nan    nan       nan    nan    nan     nan
       20140804  83734    nan    nan    nan       nan    nan    nan     nan

                 NUMTRD       RETX  ...  RET51  RET52  RET53  RET54  RET55  \
TICKER date                         ...
ACXM   20130102  3265.0   0.052119  ...    0.0    0.0    0.0    0.0    0.0
       20130103  2201.0  -0.009799  ...    0.0    0.0    0.0    0.0    0.0
       20130104  1141.0   0.000000  ...    0.0    0.0    0.0    0.0    0.0
       20130107  1115.0  -0.008246  ...    0.0    0.0    0.0    0.0    0.0
       20130108  1090.0  -0.001109  ...    0.0    0.0    0.0    0.0    0.0
...                 ...        ...  ...    ...    ...    ...    ...    ...
NaN    20140729     nan          B  ...    0.0    0.0    0.0    0.0    0.0
       20140730     nan          B  ...    0.0    0.0    0.0    0.0    0.0
       20140731     nan          B  ...    0.0    0.0    0.0    0.0    0.0
       20140801     nan          B  ...    0.0    0.0    0.0    0.0    0.0
       20140804     nan          B  ...    0.0    0.0    0.0    0.0    0.0

                 RET56  RET57  RET58  RET59  RET60
TICKER date
ACXM   20130102    0.0    0.0    0.0    0.0    0.0
       20130103    0.0    0.0    0.0    0.0    0.0
       20130104    0.0    0.0    0.0    0.0    0.0
       20130107    0.0    0.0    0.0    0.0    0.0
       20130108    0.0    0.0    0.0    0.0    0.0
...                ...    ...    ...    ...    ...
NaN    20140729    0.0    0.0    0.0    0.0    0.0
       20140730    0.0    0.0    0.0    0.0    0.0
       20140731    0.0    0.0    0.0    0.0    0.0
       20140801    0.0    0.0    0.0    0.0    0.0
       20140804    0.0    0.0    0.0    0.0    0.0

[86656 rows x 98 columns]

In [11]:
with open("daily_returns2.csv", "r") as f:
    first_line = True    
    out = open("daily_returns3.csv", "w")
    
    ctr = 0
    dates = {}
    ret_idx = None
    gvkey_idx = None
    nq_idx = None
    
    prev_values = None
    prev_ticker = None
    
    for line in f:
        if line == "\n":
            break
        if first_line:
            line = line.split(",")
            ret_idx = line.index("RET0")
            gvkey_idx = line.index("gvkey")
            nq_idx = line.index("newquarter")
            print(ret_idx, gvkey_idx)
            out.write(",".join(line))
            first_line = False
            continue
          
        line = line.split(',')
        if line[0] == "":
            continue
        date = line[1]
        cpy = list(line)
        
        tmp = first_occur.get(line[0], None)
        skip = False
        if not tmp or int(line[1]) < tmp:
            skip = True
        
        if date not in dates.keys():
            ctr += 1
            dates[date] = ctr
            
        ticker = line[0]
        
        if ticker != prev_ticker:
            prev_ticker = ticker
            prev_values = [str(0.0)] * len(line)
            
        
        if float(line[nq_idx]) == 0:
            for i in range(gvkey_idx, ret_idx):
                line[i] = prev_values[i]
            
        for i in range(60):
            line[ret_idx + i + 1] = prev_values[ret_idx + i]
        line[-1] += '\n'
            
        prev_values = line 
    
        line[1] = str(dates[date])
        
        if skip:
            continue
    
        out.write(",".join(line))
        
    out.close()

39 13

In [12]:
df = pd.read_csv("daily_returns3.csv")
df = df.set_index(['TICKER', "date"])
df = df.sort_index()
df = df.drop(columns = ["newquarter"])
df = df.astype('float64')
df.to_csv("daily_returns4.csv")

In [13]:
df = pd.read_csv("daily_returns4.csv")
df = df.set_index(['TICKER', "date"])
df = df.sort_index()

In [14]:
df[["RET" + str(i) for i in range(61)]]

                 RET0      RET1      RET2      RET3      RET4      RET5  \
TICKER date
ADBE   40   -0.007323  0.026173  0.012595 -0.011414  0.005477 -0.011091
       41    0.013228 -0.007323  0.026173  0.012595 -0.011414  0.005477
       42    0.015817  0.013228 -0.007323  0.026173  0.012595 -0.011414
       43    0.024716  0.015817  0.013228 -0.007323  0.026173  0.012595
       44   -0.004100  0.024716  0.015817  0.013228 -0.007323  0.026173
...               ...       ...       ...       ...       ...       ...
ZUO    1506  0.017413 -0.056338 -0.027397  0.042857  0.040248 -0.114583
       1507  0.088631  0.017413 -0.056338 -0.027397  0.042857  0.040248
       1508  0.005053  0.088631  0.017413 -0.056338 -0.027397  0.042857
       1509 -0.013966  0.005053  0.088631  0.017413 -0.056338 -0.027397
       1510  0.027762 -0.013966  0.005053  0.088631  0.017413 -0.056338

                 RET6      RET7      RET8      RET9  ...     RET51     RET52  \
TICKER date                                          ...
ADBE   40   -0.005770  0.009318  0.000647 -0.005153  ...  0.000000  0.000000
       41   -0.011091 -0.005770  0.009318  0.000647  ...  0.000000  0.000000
       42    0.005477 -0.011091 -0.005770  0.009318  ...  0.000000  0.000000
       43   -0.011414  0.005477 -0.011091 -0.005770  ...  0.000000  0.000000
       44    0.012595 -0.011414  0.005477 -0.011091  ...  0.000000  0.000000
...               ...       ...       ...       ...  ...       ...       ...
ZUO    1506  0.007735 -0.033120  0.013535  0.023269  ... -0.058015 -0.014544
       1507 -0.114583  0.007735 -0.033120  0.013535  ... -0.036737 -0.058015
       1508  0.040248 -0.114583  0.007735 -0.033120  ...  0.015143 -0.036737
       1509  0.042857  0.040248 -0.114583  0.007735  ...  0.093370  0.015143
       1510 -0.027397  0.042857  0.040248 -0.114583  ...  0.056594  0.093370

                RET53     RET54     RET55     RET56     RET57     RET58  \
TICKER date
ADBE   40    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
       41    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
       42    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
       43    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
       44    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
...               ...       ...       ...       ...       ...       ...
ZUO    1506 -0.057656 -0.007505  0.010427 -0.000474 -0.016768 -0.070965
       1507 -0.014544 -0.057656 -0.007505  0.010427 -0.000474 -0.016768
       1508 -0.058015 -0.014544 -0.057656 -0.007505  0.010427 -0.000474
       1509 -0.036737 -0.058015 -0.014544 -0.057656 -0.007505  0.010427
       1510  0.015143 -0.036737 -0.058015 -0.014544 -0.057656 -0.007505

                RET59     RET60
TICKER date
ADBE   40    0.000000  0.000000
       41    0.000000  0.000000
       42    0.000000  0.000000
       43    0.000000  0.000000
       44    0.000000  0.000000
...               ...       ...
ZUO    1506  0.009611  0.020508
       1507 -0.070965  0.009611
       1508 -0.016768 -0.070965
       1509 -0.000474 -0.016768
       1510  0.010427 -0.000474

[72563 rows x 61 columns]

In [15]:
df.columns

Index(['PERMNO', 'BIDLO', 'ASKHI', 'PRC', 'VOL', 'BID', 'ASK', 'OPENPRC',
       'NUMTRD', 'RETX', 'gvkey', 'fyearq', 'actq', 'ancq', 'aoq', 'atq',
       'aul3q', 'ceqq', 'cheq', 'chq', 'cogsq', 'cshiq', 'cshoq', 'dpq',
       'drcq', 'drltq', 'lctq', 'ltq', 'rdipq', 'revtq', 'stkcpay', 'teqq',
       'tfvaq', 'tfvlq', 'xrdq', 'xsgaq', 'RET0', 'RET1', 'RET2', 'RET3',
       'RET4', 'RET5', 'RET6', 'RET7', 'RET8', 'RET9', 'RET10', 'RET11',
       'RET12', 'RET13', 'RET14', 'RET15', 'RET16', 'RET17', 'RET18', 'RET19',
       'RET20', 'RET21', 'RET22', 'RET23', 'RET24', 'RET25', 'RET26', 'RET27',
       'RET28', 'RET29', 'RET30', 'RET31', 'RET32', 'RET33', 'RET34', 'RET35',
       'RET36', 'RET37', 'RET38', 'RET39', 'RET40', 'RET41', 'RET42', 'RET43',
       'RET44', 'RET45', 'RET46', 'RET47', 'RET48', 'RET49', 'RET50', 'RET51',
       'RET52', 'RET53', 'RET54', 'RET55', 'RET56', 'RET57', 'RET58', 'RET59',
       'RET60'],
      dtype='object')

In [16]:
df[["RET0", "RET1", "revtq"]]

                 RET0      RET1     revtq
TICKER date
ADBE   40   -0.007323  0.026173  1007.873
       41    0.013228 -0.007323  1007.873
       42    0.015817  0.013228  1007.873
       43    0.024716  0.015817  1007.873
       44   -0.004100  0.024716  1007.873
...               ...       ...       ...
ZUO    1506  0.017413 -0.056338    61.356
       1507  0.088631  0.017413    61.356
       1508  0.005053  0.088631    61.356
       1509 -0.013966  0.005053    61.356
       1510  0.027762 -0.013966    61.356

[72563 rows x 3 columns]